<p>
  <b>Name:</b>
  <%=h link_to @resources_table.name, edit_resources_table_path(@resources_table) %>
</p>
<table>
  <thead>
  <% @resources_table.resources_fields.each do |f| %>
    <th>
    <%=h link_to f.name, edit_resources_table_resources_field_path(@resources_table, f) %>
    <%=h link_to 'X', resources_table_resources_field_path(@resources_table, f), :confirm => 'This will destroy the entire field. Are you sure?', :method => :delete %> |
    </th>
  <% end %>
    <th><%=h link_to '+', new_resources_table_resources_field_path(@resources_table) %></th>
  </thead>
</table>
<br/>
<%= link_to 'Return to index', resources_tables_path %>
